page-edit-client {
  form {
    text-align: right;
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 20px 20px 20px;
    text-align: center;
    border-radius: 10px;
  }

  .login-box {

    position: relative;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px 20px 20px;
    text-align: center;
    border-radius: 10px;

  }

  submit-btn {
    position: relative;
    top: -20px;
    height: 200px;
    width: 50%;

  }

  .login-content{
    position: relative;
  }

}
