<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title dir="rtl">כל המטופלים</ion-title>
    </ion-navbar>
</ion-header>

<!--
<ion-content class="home" padding dir="rtl">
  <body dir="rtl">
  <ion-list>
<br>
    <br>
    <br>
    <table align="center" class="t-table">
      <thead>
        <th><span>שם</span></th>

        <th><span>שם משפחה</span></th>

        <th><span>תעודת זהות</span></th>
        <th><span>תאריך ביקור אחרון במרפאה</span></th>
        <th ></th>
        <th ></th>

      </thead>
    <tr *ngFor="let item of items; let i = index">
      <td>{{item.name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.id}}</td>
      <td class="option">
        <img src="../../assets/icon/editIcon.png" class="btn"
             (click)="itemTapped($event, item)"/>
      </td>
      <td class="option">
        <img class="btn "
                src="../../assets/icon/download.jpg" (click)="deleteClient(item)"/>
          <ion-icon name="edit" item-left></ion-icon>
      </td>
    </tr>
    </table>

    <button ion-button class="button button-small" style="margin-top: 2cm"  align-self-baseline="flex-start" (click)="createClient() " outline >יצירת מטופל חדש</button>

  </ion-list>
  </body>

</ion-content>

-->

<ion-content dir="rtl">
    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
            <!--<ion-icon name="{{item.icon}}" item-left></ion-icon>
            {{item.title}}
            <div class="item-note" item-right>
              {{item.note}}
            </div>-->
            <ion-icon name="user" item-left></ion-icon>
            <div>
                {{item.name + " " + item.last_name}}
            </div>

        </button>
    </ion-list>
    <div  text-align="center">
        <button ion-button id="add-client"
                class="button submit-btn button-full"
                (click)="createClient() ">
            <b>+</b>
            צור מטופל חדש
        </button>
    </div>
</ion-content>

