<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title dir="rtl">פרטי המטופל :
      {{selectedItem.name + " " +selectedItem.last_name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl">
  <h3 text-center *ngIf="selectedItem">
    <ion-icon [name]="user"></ion-icon>
    {{selectedItem.name + " " +selectedItem.last_name}}
  </h3>
  <button align-items-baseline="flex-end" class="submit-btn button" (click)="editClient(selectedItem)">
    ערוך מטופל
  </button>
  <ion-item>
    <ion-label>תעודת זהות </ion-label>
    <ion-label>{{selectedItem.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>תאריך לידה</ion-label>
    <ion-label>{{selectedItem.dateOfBirth}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>אימייל</ion-label>
    <ion-label>{{selectedItem.email}}</ion-label>
  </ion-item>


  <ion-row class="signup-col text-center">
    <button ion-button class="submit-btn" round type="submit" (click)="addTreatment() ">הוספת טיפול חדש</button>
    <button ion-button class="submit-btn" round color="light" type="button"
            (click)="showTreatments()">ראה טיפולים קודמים</button>
  </ion-row>
</ion-content>
