<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title dir="rtl">פרטי המטופל :
      {{selectedItem.name + " " +selectedItem.last_name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl">

  <ion-row class="logo-row" align="center">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/images/user.PNG"  width="200"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <h3 text-center *ngIf="selectedItem">
    <ion-icon [name]="user"></ion-icon>
    {{selectedItem.name + " " +selectedItem.last_name}}
  </h3>
  <!--button align-items-baseline="flex-end" class="submit-btn button" (click)="editClient(selectedItem)">
    ערוך מטופל
  </button-->
  <ion-label>תעודת זהות</ion-label>
  <ion-item align="center">
      <ion-input name="תעודת זהות" [(ngModel)]="selectedItem.id" [disabled] = true align="center"></ion-input>
    </ion-item>
  <ion-label>שם פרטי</ion-label>
    <ion-item>
      <ion-input  name="שם פרטי" [(ngModel)]="selectedItem.name" [disabled] = true></ion-input>
    </ion-item>
  <ion-label>שם משפחה</ion-label>
    <ion-item>
      <ion-input  name="שם משפחה" [(ngModel)]="selectedItem.last_name" [disabled] = true></ion-input>
    </ion-item>
  <ion-label>מייל</ion-label>
    <ion-item>
      <ion-input  name="מייל" [(ngModel)]="selectedItem.email" [disabled] = true></ion-input>
    </ion-item>
  <br>
  <ion-row class="signup-col text-center">
    <button ion-button class="submit-btn" round type="submit" (click)="addTreatment() ">הוספת טיפול חדש</button>
  </ion-row>
  <br>
  <ion-row class="signup-col text-center">
    <button ion-button class="submit-btn" round color="light" type="button"
            (click)="showTreatments()">ראה טיפולים קודמים</button>
  </ion-row>
</ion-content>
