<!--
  Generated template for the Treatments page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>treatments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="page-treatments">
  <!--<h2>Treatments</h2>-->
  <!--<div>
    create a new treatment
  </div>-->
  <!--<label>select patient</label>-->
  <!--<label>patient ID</label>-->
  <!--<input type="text" placeholder="patient ID" ion-text align-self-baseline="flex-center">
  <button ion-button class="button button-small"  align-self-baseline="flex-center"
          (click)="searchPatient()">search</button>
  <section *ngIf="patient">
    <h3>patient details</h3>
    <label >{{patient.first_name + ' ' + patient.last_name}}</label>

    <label >birth date</label>
    <span>{{patient.birth_date | date: 'dd-MM-yyyy'}}</span>

    <label >father name</label>
    <span>{{patient.father_name}}</span>-->

    <!--<button (click)="startTreatment()">start treatment!</button>-->
<!--

    <div *ngIf="recording">
      <ion-col width-67>
        text
        text
        text
        text

        <img class="recording heartbit"
             src="http://backofficeapi.dev.hopon.co/logo.png"/>
      </ion-col>
    </div>
    <div *ngIf="!recording">
      <ion-col width-67>
        <img class="recording"
             src="http://backofficeapi.dev.hopon.co/logo.png"/>
      </ion-col>
    </div>
-->
<section>
    <div id="shani">
      <ion-col width-67 (click)="startTreatment()">
        <!--<span >{{text}}</span>-->
          <div id="sheker">
          <span *ngIf="index > 1">the </span>
          <span *ngIf="index > 2">patient </span>
          <span *ngIf="index > 3">has </span>
          <span *ngIf="index > 4">a hole </span>
          </div>
          <img class="recording " [ngClass]="[recording?'heartbit':'', 'second']"
               src="http://backofficeapi.dev.hopon.co/logo.png"/>
          <!--

          <span *ngIf="index > 5">in his </span>
          <span *ngIf="index > 6">tooth. </span>
          <span *ngIf="index > 7">he is </span>
          <span *ngIf="index > 8">and </span>
          <span *ngIf="index > 9">he needs </span>
          <span *ngIf="index > 10">a surgery fast </span>
          <span *ngIf="index > 11">before his teeth </span>
          <span *ngIf="index > 12">becomes dark </span>-->

      </ion-col>
    </div>
    <!--<div *ngIf="!recording" (click)="startTreatment()">
      <ion-col width-67>
        <img class="recording"
             src="http://backofficeapi.dev.hopon.co/logo.png"/>
      </ion-col>
    </div>-->
  </section>

</ion-content>
