<!--
  Generated template for the AddTreamentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title dir="rtl">הוסף טיפול חדש</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row class="logo-row">
    <ion-col (click)="startTreatment()" class="text-center">
      <img class="recording " [ngClass]="[recording?'heartbit':'', 'second']"
           src="http://backofficeapi.dev.hopon.co/logo.png"/>
    </ion-col>
  </ion-row>

  <div class="login-box" align="center">
    <form #clientForm="ngForm" #registerForm="ngForm" dir="rtl">
      <ion-row align="center">
        <ion-col align="center">
          <ion-list inset align="center">
            <ion-item align="center">
                          <ion-select [(ngModel)]="currentClient"
                          name="category">
                <ion-option *ngFor="let iClient of clients" [value]="iClient">
                  {{iClient.name + " " + iClient.last_name}}
                </ion-option>
              </ion-select>

              <ion-label  *ngIf="currentClient">
                {{currentClient.name + " " + currentClient.last_name}}
              </ion-label>
            </ion-item>
            <ion-item align="center">
              <ion-input type="text"  placeholder="סיבת הטיפול" multiple="false"
                         name="reasonOfTreatment" [(ngModel)]="treatmenttCredentials.reasonOfTreatment"
                         align="center" required></ion-input>
            </ion-item>
            <ion-item align="center">
              <textarea placeholder = "סיכום הטיפול" name="message" rows="10" cols="60" [(ngModel)]="treatmenttCredentials.anamnesis"> </textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" (click)="addTreament()"  [disabled]="!registerForm.form.valid">שמור טיפול נוכחי</button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
