<!--
  Generated template for the AddTreamentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>הוסף טיפול חדש</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="../../assets/images/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box" align="center">
    <form #clientForm="ngForm" #registerForm="ngForm" dir="rtl">
      <ion-row align="center">
        <ion-col align="center">
          <ion-list inset align="center">
            <ion-item align="center">
              <!--<ion-select  name="client" *ngIf="!currentClient.id"
                           (ngModelChange)="selectObjectById($event, 'someProperty')"
                           [(ngModel)]="currentClient.id">
                <ion-option  *ngFor="let iClient of clients"
                             value="iClient.id">
                  {{iClient.name + " " + iClient.last_name}}
                </ion-option>
              </ion-select>-->

              <ion-select [(ngModel)]="currentClient"
                          name="category">
                <ion-option [value]="null">
                  None
                </ion-option>
                <ion-option *ngFor="let iClient of clients" [value]="iClient">
                  {{iClient.name + " " + iClient.last_name}}
                </ion-option>
              </ion-select>

              <ion-label  *ngIf="currentClient">
                {{currentClient.name + " " + currentClient.last_name}}
              </ion-label>
            </ion-item>
            <ion-item align="center">
              <ion-input type="text"  placeholder="סיבת הטיפול" multiple="false"
                         name="reasonOfTreatment" [(ngModel)]="treatmenttCredentials.reasonOfTreatment"
                         align="center" required></ion-input>
            </ion-item>

            <p>
              <button (click)="startRecording()" class="buttton-start-recording"
                      [disabled]="audioRecorder.state != AudioRecorderState.Ready">
                <ion-icon name="microphone"></ion-icon>
                Start recording
              </button>
            </p>
            <p>
              <button (click)="stopRecording()" class="buttton-stop-recording" [disabled]="audioRecorder.state != AudioRecorderState.Recording">
                <ion-icon name="mic-off"></ion-icon>
                Stop recording
              </button>
            </p>
            <p>
              <button ion-button (click)="savePlayback()">
                שמור הקלטה
              </button>
            </p>


            <ion-item align="center">
              <textarea placeholder = "סיכום הטיפול" name="message" rows="10" cols="60" [(ngModel)]="treatmenttCredentials.anamnesis"> </textarea>
            </ion-item>
          </ion-list>


        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" (click)="addTreament()"  [disabled]="!registerForm.form.valid">שמור טיפול נוכחי</button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
